.container {
    display: flex;
    justify-content: center;
    align-items: center; /* Add vertical centering */
    flex-direction: column;
    text-align: center;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center; /* Add vertical centering */
    gap: 10px;

}
.Mini{
    text-align:  center;
    color: teal;
    font-size: x-large;
}

button {
    width: 50px;
    height: 20px;
    border-radius: 10%;
    border: none;
    background-color: rgb(211, 24, 89);
    color: white;
    cursor: pointer;
}
input {
    text-align: center;
    width: 200px; /* Adjust the width as needed */
    padding: 10px;
    border: 2px solid #3498db; /* Border color */
    border-radius: 5px; /* Rounded corners */
    font-family: 'Arial', sans-serif; /* Choose your preferred font */
    font-size: 16px; /* Adjust the font size as needed */
    outline: none; /* Remove default input outline */
}

/* Optional: Add some hover effect */
input:hover {
    border-color: #2980b9; /* Change border color on hover */
}
